* { margin: 0px; padding: 0px; }

#el1 {
	background-color: darkturquoise;
	width:100px;
	height: 100px;
}

#el2 {
	background-color: paleturquoise;
	width:50%;
	height: 50%;
	float: right;
}

#context_menu {
	position: absolute;
	width: 120px;
	max-width: 200px;
	height:200px;
	border: 2px outset grey;
	background-color: ghostwhite;
}
#context_menu HEADER {
	font: bold 12px sans;
	text-align: center;
	background-color: coral;
	color: white;
	padding: 2px 6px;
	text-shadow: 1px 1px 3px grey;
}